@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&display=swap');

body{
    background-color: antiquewhite;
    background-image: url('bg1.jpg');
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'IBM Plex Serif', serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    /* background-color: black; */
    color: white;
    cursor: pointer;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.container{
    min-height: 60vh;
    /* background-color: black; */
    /* background-blend-mode: color; */
    color: white;
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 34px;
    /* background-image: url('bg1.jpg'); */
    /* background-position: 65% 0px; */
    /* background-size: cover; */
}
/* .push{
    background-color: black;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    min-height: 60vh;
    padding: 34px;
    opacity: 0.5;
} */

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bottom{
    position: sticky;
    height: 120px;
    /* background-color: black; */
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 22px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 150vh;
    cursor: pointer;
}

.songlistcontainer{
    margin-top: 34px;
}

.songItem{
    height: 50px;
    display: flex;
    /* background-color: white; */
    color: rgb(255, 255, 255);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;

}

.songinfo{
    position: absolute;
    left: 30vh;
    font-family: 'IBM Plex Serif', serif;
}

.songinfo img{
    width: 34px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

